header {
    background: linear-gradient(45deg,rgb(243, 201, 208),lightcoral,lightpink,pink,coral);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease infinite;
    color:white;
    text-align: center;
    border: solid 5px black;
    padding: 40px;
    display:flex;
    justify-content: space-between;
  }
  @keyframes cambiar {
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50% ;}
    100%{background-position: 0% 50%;}
    
  }
  nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg,rgb(243, 201, 208),lightcoral,lightpink,pink,coral);
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease infinite;
}
nav li {
    display: inline-block;
    margin-right: 25px;
  }
  nav b{
    justify-content: flex-start;
  }
  nav a {
    justify-content: flex-end;
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
  }
  nav a:hover {
    transition: 2s;
    transition-delay: 0,5s;
    color: black;
  }
.container{
    max-width: 800px;
    margin:auto;
    padding:20px;
    }
.container-about{
      max-width: 800px;
      margin:auto;
      padding:20px;
      }   
.container-about>h1{
  justify-content: flex-start;
  display: flex;
  justify-content: center;
  align-items:center;
}
.container-about>p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font: bold;
}       
    .row{
        display:flex;
        flex-wrap:wrap;
        margin:10px;
    }
    .column{
        flex:1;
        padding:10px;
    }
    @media (max-width:600px){
        .column{
            flex:100px;
        }
    }
   .img-container{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
   

   } 
   img{
    max-width:100%;
   }
   .img-column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
  }
  .greeting{
    text-align: center;
    font-size: 20px;
    font:bolder;
  }